<% @rating_types = RatingType.all %>

<% if Setting.plugin_redmine_ratings['lang_tracker_ids'].include? @issue.tracker_id.to_s %>
  <% if Setting.plugin_redmine_ratings['lang_visible'] == "1" || (User.current.roles.ids.any? && (User.current.roles.ids.to_a.map(&:to_s) & Setting.plugin_redmine_ratings['lang_role_ids'].to_a.map(&:to_s)).any? && Setting.plugin_redmine_ratings['lang_visible'] == "0") %>
    <div class="slidecontainer">
      <p>
        <label>Text Language</label>
        <%= select_tag "issue[language_id]", (options_for_select(Language.all.collect { |p| [ p.value, p.id ] }, :selected => @issue.issue_language.try(:value) )), {:include_blank => true} %>
      </p>
    </div>
  <% end %>
<% end %>

<% if User.current.admin? || Setting.plugin_redmine_ratings['rating_visible'] == "1" || (User.current.roles.ids.any? && (User.current.roles.ids.to_a.map(&:to_s) & Setting.plugin_redmine_ratings['rating_role_ids'].to_a.map(&:to_s)).any? && Setting.plugin_redmine_ratings['rating_visible'] == "0") %>
  <% if  @issue.status.name == 'Closed' || @issue.status.name == 'Done' %>
    <div class="slidecontainer">
      <% @rating_types.each do |rt| %>
        <p>
          <% rating = CaRating.find_by(type_id: rt.id, issue_id: @issue.id) %>
          <label><%= rt.value %></label>
          <%= range_field_tag "issue[rating_#{rt.value}]", value = rating ? rating.try(:value) : 0, in: 0..10, step: 1, :oninput=> "rating_#{rt.value}.value = issue_rating_#{rt.value}.value", class: 'rating' %>
          <%= content_tag( :output, "#{rating.try(:value)}", :id=>"rating_#{rt.value}") %>
        </p>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= javascript_tag do %>
  $("#issue_language_id").change(function() {
    var arr = []
    $(".rating").each(function() {
      arr.push($(this).val())
    });

    var language = $("select#issue_language_id").val();


    <% if User.current.admin? || Setting.plugin_redmine_ratings['rating_visible'] == "1" || (User.current.roles.ids.any? && (User.current.roles.ids.to_a.map(&:to_s) & Setting.plugin_redmine_ratings['rating_role_ids'].to_a.map(&:to_s)).any? && Setting.plugin_redmine_ratings['rating_visible'] == "0") %>
      <% if  @issue.status.name == 'Closed' || @issue.status.name == 'Done' %>
        <% if @rating_types.any? %>
          if (!arr.includes('0') && language !== '') {
            $('input[name ="commit"]').prop("disabled", false);
            $("#rating_error").hide();
          } else {
            $('input[name ="commit"]').prop("disabled", true);
            $("#rating_error").show();
          }
        <% else %>
        if (language !== '') {
          $('input[name ="commit"]').prop("disabled", false);
          $("#rating_error").hide();
        } else {
          $('input[name ="commit"]').prop("disabled", true);
          $("#rating_error").show();
        }
        <% end %>
      <% else %>
        if (language !== '') {
          $('input[name ="commit"]').prop("disabled", false);
          $("#rating_error").hide();
        } else {
          $('input[name ="commit"]').prop("disabled", true);
          $("#rating_error").show();
        }
      <% end %>
    <% else %>
      if (language !== '') {
        $('input[name ="commit"]').prop("disabled", false);
        $("#rating_error").hide();
      } else {
        $('input[name ="commit"]').prop("disabled", true);
        $("#rating_error").show();
      }
    <% end %>


    if (language !== '') {
      $("#language_error").hide();
    } else {
      $("#language_error").show();
    }

    <% if User.current.admin? || Setting.plugin_redmine_ratings['rating_visible'] == "1" || (User.current.roles.ids.any? && (User.current.roles.ids.to_a.map(&:to_s) & Setting.plugin_redmine_ratings['rating_role_ids'].to_a.map(&:to_s)).any? && Setting.plugin_redmine_ratings['rating_visible'] == "0") %>
      <% if  @issue.status.name == 'Closed' || @issue.status.name == 'Done' %>
        <% if @rating_types.any? %>
          if (!arr.includes('0')) {
            $("#rating_error").hide();
          } else {
            $("#rating_error").show();
          }
        <% end %>
      <% end %>
    <% end %>
  });

  $(".rating").on('click', function(event){
    var arr = []
    $(".rating").each(function() {
      arr.push($(this).val())
    });

    var language = $("select#issue_language_id").val();

    if (!arr.includes('0') && language !== '') {
      $('input[name ="commit"]').prop("disabled", false);
    } else {
      $('input[name ="commit"]').prop("disabled", true);
    }

    if (!arr.includes('0')) {
      $("#rating_error").hide();
    } else {
      $("#rating_error").show();
    }

    if (language !== '') {
      $("#language_error").hide();
    } else {
      $("#language_error").show();
    }
  });

  $(document).ready(function() {
    $('input[name ="commit"]').prop("disabled", true);

    <% if User.current.admin? || Setting.plugin_redmine_ratings['rating_visible'] == "1" || (User.current.roles.ids.any? && (User.current.roles.ids.to_a.map(&:to_s) & Setting.plugin_redmine_ratings['rating_role_ids'].to_a.map(&:to_s)).any? && Setting.plugin_redmine_ratings['rating_visible'] == "0") %>
      <% if  @issue.status.name == 'Closed' || @issue.status.name == 'Done' %>
        <% if @rating_types.any? %>
          $("#rating_error").show();

        <% else %>
          $("#rating_error").hide();
        <% end %>
      <% else %>
        $("#rating_error").hide();
      <% end %>
    <% else %>
      $("#rating_error").hide();
    <% end %>
  });
<% end %>
