<div id="duplicaterRate11" style="display: none;">
        <fieldset class="box tabular">
            <div class="massCreateRateForm">
              <p>
                <label for="rate_tracker_id">Tracker Id</label>
                <%= select_tag "tracker", (options_from_collection_for_select(@trackers, "id", "name")), {:class => 'trackerId'} %>
              </p>

              <p>
                <label for="rate_language_id">Language Id</label>
                <%= select_tag "language_id", (options_from_collection_for_select(@languages, "id", "value")), {:class => 'languageId'} %>
              </p>

              <p>
                <label for="rate_value">value</label>
                <input class="value" type="number" name="rate[value]" id="rate_value" value='<%= @rate.value %>'>
              </p>

              <p>
                <label for="rate_currency_id">Currency Id</label>
                <%= select_tag "currency_id", (options_from_collection_for_select(@currencies, "id", "value")), {:class => 'currencyId'} %>
              </p>

              <p>
                <label for="rate_unit_qty">unit_qty</label>
                <input class="unitQty" type="number" name="rate[unit_qty]" id="rate_unit_qty" value='<%= @rate.unit_qty %>'>
              </p>

              <p>
                <label for="rate_unit_type_id">Unit Type Id</label>
                <input class="unitTypeId" type="number" name="rate[unit_type_id]" id="rate_unit_type_id" value='<%= @rate.unit_type_id %>'>
              </p>
            </div>

            <div class="divvv">
            </div>

          </fieldset>
        </div>
