<h1>Listing Rating Types</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @rating_types.each do |rating_type| %>
      <tr>
        <td><%= rating_type.value %></td>
        <td><%= link_to "Show", rating_type %></td>
        <td><%= link_to "Edit", edit_rating_type_path(rating_type) %></td>
        <td><%= link_to "Destroy", rating_type, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Rating Type", new_rating_type_path %>
