<%= form_for @unit_type do |f| %>
  <p>
    <%= f.label :value %>
    <%= f.text_field :value, value: @unit_type.value %>
  </p>

  <p>
    <%= f.label :priority %>
    <%= f.number_field :priority, value: @unit_type.priority %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
